body {
    background-color:skyblue;
}

h1 {
    border: 5px double darkgreen;
    border-radius:40px;
    color: Red;
    text-align:center;
    padding:10px;
}

h2 {
    font-size:30px;
    text-align:center;
}

.cards2{
    background-color: #EDCDAF;
    border: 3px solid gold;
    font-size: 23px;
    color: black;
    border: 4px dotted red;
}

.card3 {
    background-color: #EDCDAF;
    border: 3px solid gold;
    font-size: 23px;
    color: black;
    border: 4px dotted red;
    position:absolute;
    top:70%;
    left:50%;
}

.cards4 {
    background-color: #EDCDAF;
    border: 3px solid gold;
    font-size: 23px;
    color: black;
    border: 4px dotted red;
    position:absolute;
    top:26%;
    left:50%;
}

.cards5{
    background-color: #EDCDAF;
    border: 3px solid gold;
    font-size: 23px;
    color: black;
    border: 4px dotted red;
    position:absolute;
    top:16%;
    left:50%;
}

.evo {
    text-align:center;
    position:absolute;
    top:55%;
    left:40%;
}

li {
    display: inline-block;
    margin: 10px;
    list-style: none;
    background-color: yellow;
    color:green;
    padding: outset;
}


img {
    width:500px;
    height:740px;
    padding: 10px;
    border: 6px ridge red;
    float:left;
}

.img_2 {
    width:500px;
    height:370px;
    padding:4px;
}

.img_3 {
    width:670px;
    height:400px;
    padding:4px;
    position:absolute;
    top:65%;
    left:0%;
}

.img_4 {
    width:670px;
    height:400px;
    padding:4px;
    
}

.img_5 {
     width:670px;
    height:400px;
    padding:4px;
}

.one {
    background-color: #EDCDAF;
    border: 3px solid gold;
    font-size: 20px;
    color: black;
    border: 4px dotted red;
    
    position:absolute;
    width:48%;
    left: 43%;
}

.link{
    color:red;
}

.two {
    background-color: #EDCDAF;
    border: 3px solid gold;
    font-size: 33px;
    color: black;
    border: 4px dotted red;
    
    position:absolute;
    width:50%;
    left: 40%;
    top:27%;
}
